In [ ]:
#Theoretical questions :

1.What are data structures, and why are they important?

->> Data structures are ways of organizing and storing data to perform operations efficiently. They are important because they help manage and process data in a structured way, which improves performance and code readability.

2.Explain the difference between mutable and immutable data types with examples.

->> Mutable: Can be changed after creation. Example: list, dict, set.
->> Immutable: Cannot be changed after creation. Example: int, str, tuple.

3.What are the main differences between lists and tuples in Python?

->> Lists are mutable, tuples are immutable.
->> Lists use square brackets [ ], tuples use parentheses ( ).

4.Describe how dictionaries store data.

->> Dictionaries store data as key-value pairs.
->> Keys must be unique and immutable, and values can be any data type.

5.Why might you use a set instead of a list in Python?

->> Sets automatically remove duplicates and provide faster membership testing than lists.

6.What is a string in Python, and how is it different from a list?

->> A string is a sequence of characters (immutable), while a list is a collection of elements (mutable).

7.How do tuples ensure data integrity in Python?

->> Since tuples are immutable, their content cannot be changed, making them safe for storing constant data.

8.What is a hash table, and how does it relate to dictionaries in Python?

->> A hash table maps keys to values using a hash function. Python dictionaries are implemented using hash tables.

9.Can lists contain different data types in Python?

->> Yes, Python lists can store elements of different data types.

10.Explain why strings are immutable in Python.

->> Strings are immutable to ensure consistency, thread-safety, and optimization through interning.

11.What advantages do dictionaries offer over lists for certain tasks?

->> Fast lookups, key-based access, and no need to search through the whole structure for a value.

12.Describe a scenario where using a tuple would be preferable over a list.

->> When storing fixed data like coordinates (x, y), tuples are preferable due to immutability.

13.How do sets handle duplicate values in Python?

->> Sets automatically remove any duplicate entries.

14.How does the “in” keyword work differently for lists and dictionaries?

->> In lists: Checks if an element exists in the list.
->> In dictionaries: Checks if a key exists.

15.Can you modify the elements of a tuple? Explain why or why not.

->> No, tuples are immutable, so their elements cannot be changed after creation.

16.What is a nested dictionary, and give an example of its use case?

->> A dictionary inside another dictionary.
->> Example: student = {"name": "John", "marks": {"math": 90, "science": 85}}.

17.Describe the time complexity of accessing elements in a dictionary.

->> Accessing an element in a dictionary typically has an average time complexity of O(1), meaning it takes constant time regardless of the dictionary's size.

18.In what situations are lists preferred over dictionaries?

->> When data order matters and indexing is required, or for simple linear collections.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?

->> Dictionaries are termed as an unordered collection of elements because the printed order of elements is not same as the order in which the elements are stored.
->> Retrieval is based on key, not position.

20.Explain the difference between a list and a dictionary in terms of data retrieval.

->> A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key-value pair.
->> Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.

In [ ]:
#practical questions :

In [1]:
#1.Write a code to create a string with your name and print it.
name = "jeera"
print(name)

jeera

In [4]:
#2.Write a code to find the length of the string "Hello World".
word = "Hello World"
len(word)

11

In [5]:
#3.Write a code to slice the first 3 characters from the string "Python Programming".
str1 = "Python Programming"
str1[:3]

'Pyt'

In [6]:
#4.Write a code to convert the string "hello" to uppercase.
print("hello".upper())

HELLO

In [7]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple"
a = "I like apple"
a.replace("apple","orange")

'I like orange'

In [8]:
#6.Write a code to create a list with numbers 1 to 5 and print it.
my_lis = [1,2,3,4,5]
print(my_lis)

[1, 2, 3, 4, 5]

In [9]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4].
my_lis1 = [1,2,3,4]
my_lis1.append(10)
print(my_lis1)

[1, 2, 3, 4, 10]

In [3]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
my_lis2 = [1,2,3,4,5]
my_lis2.remove(3)
print(my_lis2)

[1, 2, 4, 5]

In [5]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
lis = ['a', 'b', 'c', 'd']
lis[1]

'b'

In [6]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].
my_lis = [10, 20, 30, 40, 50]
my_lis[::-1]

[50, 40, 30, 20, 10]

In [7]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tup = (100, 200, 300)
print(my_tup)

(100, 200, 300)

In [3]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple = ('red','green','blue','yellow')
tuple[-2]

'blue'

In [5]:
#13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple = (10, 20, 5, 15)
min(tuple)

5

In [6]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple = ('dog', 'cat', 'rabbit')
tuple.index("cat")

1

In [7]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
tuple = ('banana', 'apple', 'mango')
kiwi in tuple

NameError: name 'kiwi' is not defined

In [9]:
#16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set = {'a','b','c'}
print(set)

{'b', 'a', 'c'}

In [12]:
#17.Write a code to clear all elements from the set (1, 2, 3, 4, 5).
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [18]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4).
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [21]:
#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a = {1, 2, 3}
b = {3, 4, 5}
a | b

{1, 2, 3, 4, 5}

In [22]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a = {1, 2, 3} 
b = {2, 3, 4}
a & b

{2, 3}

In [24]:
#21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {"name":"jeera", "age":"23", "city":"navsari"}
print(my_dict)

{'name': 'jeera', 'age': '23', 'city': 'navsari'}

In [32]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary ['name': 'John', 'age': 25].
my_dict = {"name":"John","age":"25"}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': '25', 'country': 'USA'}

In [35]:
#23.Write a code to access the value associated with the key "name" in the dictionary ('name': 'Alice', 'age': 30).
info = {'name': 'Alice', 'age': '30'}
info['name']

'Alice'

In [38]:
#24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
info = {'name': 'Bob', 'age': 22, 'city': 'New York'}
info.pop('age')
print(info)

{'name': 'Bob', 'city': 'New York'}

In [39]:
#25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name': 'Alice', 'city': 'Paris'}
'city' in my_dict

True

In [40]:
#26.Write a code to create a list, a tuple, and a dictionary, and print them all.
a = [1,2,3,4,5]
b = (1,2,3,4)
c = {'name': 'Alice', 'city': 'Paris'}
print(a,b,c)

[1, 2, 3, 4, 5] (1, 2, 3, 4) {'name': 'Alice', 'city': 'Paris'}

In [44]:
#27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result. 
import random
num = sorted([random.randint(1,100) for i in range(5)])
print(num)

[12, 17, 23, 27, 66]

In [45]:
#28.Write a code to create a list with strings and print the element at the third index.
my_lis = ["vijay","kali","trishna","vivaan"]
my_lis[3]

'vivaan'

In [55]:
#29.Write a code to combine two dictionaries into one and print the result.
dict1 = {"name":"john","age":"24"}
dict2 = {"profession":"shayar"}
dict3 = {**dict1,**dict2}
print(dict3)

{'name': 'john', 'age': '24', 'profession': 'shayar'}

In [1]:
#30.Write a code to convert a list of strings into a set.
str_list = ['vijay','kali','trishna','vivaan']
set = set(str_list)
print(set)

{'vivaan', 'kali', 'vijay', 'trishna'}